{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Bot Monitor</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Bot Name</th>
          <th>Redis Key</th>
          <th>Last check in time</th>
          <th>Current Action</th>
        </thead>
        <tbody>
          {% for bot_id, bot in bots.items() %}
          <tr>
            <td>{{ bot.name }}</td>
            <td><code>{{ bot_id }}</code></td>
            <td>{{ bot.checkin |humanize }}</td>
            <td>{{ bot.current_action }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
